.ui-mode--mobile {
    --ui-mode: "mobile"
}

.ui-mode--desktop {
    --ui-mode: "desktop"
}

.inner-radius--none {
    --color-wheel--inner-radius: 30%;
}

.example {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
}

span[contenteditable="true"] {
    border: 1px solid transparent;
    position: relative;
    transition: all linear 300ms;
}

pre:hover code span[contenteditable="true"] { 
    border: 1px solid #000;
}

span[contenteditable="true"]::before {
    content: "Editable";
    position: absolute;
    bottom: 100%;
    font-size: 0.7em;
    opacity: 0;
    pointer-events: none;
    transition: all linear 300ms;
}

pre:hover code span[contenteditable="true"]::before {
    opacity: 1;
}