:host {
    color-scheme: only light;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    --inner-radius: var(--color-wheel--inner-radius, 60%);
    --radius: 5cm;
    min-height: calc(2 * var(--radius) + 2*  var(--thumb-radius) + 12px);
    --thumb-radius: var(--color-wheel-thumb-radius-mobile, var(--color-wheel-thumb-radius, 0.6cm));
    --hue: 0;
    --value: 100;
    --lightness: 50;
    --saturation: 100;
    --default-ui-mode: "desktop"
}

:host([rotate-wheel]) {
    --ui-mode: "mobile"
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    :host {
        --default-ui-mode: "mobile"
    }
}

.container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: calc(var(--thumb-radius) + 6px);
}

.container--desktop-ui {
  --inner-radius: var(--color-wheel--inner-radius, 0.1%);
  --thumb-radius: var(--color-wheel-thumb-radius-desktop, var(--color-wheel-thumb-radius, 0.5cm));
}

.color-wheel-container {
  width: 100%;
  height: 100%;
  min-height: calc(2 * var(--radius));
  min-width: calc(2 * var(--radius));
  display: inline-block;
  position: relative;
}

.color-wheel, .slider-container {
  position: absolute;
  inset: 0;
}

.color-wheel {
  --l-color: calc(var(--value) * 0.5%);
  --center-l-color: calc(var(--value) * 1%);
  pointer-events: auto;
  display: inline-block;
  touch-action: none;
  border-radius: 50%;
  background: radial-gradient(circle closest-side at center, hsl(0 0% var(--center-l-color)) var(--inner-radius),  transparent 100%), conic-gradient(
      hsl(360 100% var(--l-color)),
      hsl(345 100% var(--l-color)),
      hsl(330 100% var(--l-color)),
      hsl(315 100% var(--l-color)),
      hsl(300 100% var(--l-color)),
      hsl(285 100% var(--l-color)),
      hsl(270 100% var(--l-color)),
      hsl(255 100% var(--l-color)),
      hsl(240 100% var(--l-color)),
      hsl(225 100% var(--l-color)),
      hsl(210 100% var(--l-color)),
      hsl(195 100% var(--l-color)),
      hsl(180 100% var(--l-color)),
      hsl(150 100% var(--l-color)),
      hsl(135 100% var(--l-color)),
      hsl(120 100% var(--l-color)),
      hsl(105 100% var(--l-color)),
      hsl(90 100% var(--l-color)),
      hsl(60 100% var(--l-color)),
      hsl(45 100% var(--l-color)),
      hsl(30 100% var(--l-color)),
      hsl(15 100% var(--l-color)),
      hsl(0 100% var(--l-color))
  );

  /* calcs for antialiasing */
  mask-image: radial-gradient(circle closest-side at center, transparent calc(var(--inner-radius) - 1px), white var(--inner-radius), white calc(100% - 1px), transparent 100%);
  -webkit-mask-image: radial-gradient(circle closest-side at center, transparent calc(var(--inner-radius) - 1px), white var(--inner-radius),  white calc(100% - 1px), transparent 100%);
  transform-origin: center;

}

.container--hsl .color-wheel {
  --l-color: calc(var(--lightness) * 1%);
  --center-l-color: calc(var(--lightness) * 1%);
}

.container--mobile-ui .color-wheel {
  transform: rotateZ(calc(var(--hue) * 1deg));
}

.slider-container{
  pointer-events: none;
  position: absolute;
  aspect-ratio: 1 / 1;
  height: 100%;
  top: 50%;
  left: 50%;
  min-height: calc(2 * var(--radius));
  min-width: calc(2 * var(--radius));
  transform: translate(-50%, -50%) rotateZ(calc(var(--hue) * -1deg - 90deg));

}

.slider-container-half {
  position: absolute;
  inset: 0 0 0 50%;
}

.slider {
  pointer-events: none;
  touch-action: none;
  position: absolute;
  top: 50%;
  width: calc(2 * var(--thumb-radius));
  height: calc(2 * var(--thumb-radius));
  background: hsl(var(--hue), calc(var(--saturation) * 1%), calc((100% - var(--saturation) * 0.5%) * var(--value) / 100));
  border: 4px solid #888;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  left: calc(var(--inner-radius) + (1% * var(--saturation)) - ( var(--saturation) * var(--inner-radius) / 100 ));
}

.container--hsl .slider {
  background: hsl(var(--hue), calc(var(--saturation) * 1%), calc(var(--lightness, 50) * 1%)) ;
}

.inner-radius-calc {
  visibility: position;
  z-index: -1;
  height: 1px;
  pointer-events: none;
  touch-action: none;
  width: var(--inner-radius);
}

.slider-track {
  display: none;
  pointer-events: none;
}

.slider::before {
  display: block;
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background: transparent ;
  border-radius: 50%;
  border: 2px solid #ffffff;
  content: " ";
  pointer-events: none;
  touch-action: none;
}


.container--mobile-ui .slider-container{
  transform: translate(-50%, -50%) rotate(-90deg);
}

.container--mobile-ui .slider-track{
  position: absolute;
  inset: 0;
  display: inline;
  z-index: -1;
  overflow: hidden;
  mask-image: radial-gradient(circle closest-side at center, transparent calc(var(--inner-radius) - 1px), white var(--inner-radius), white calc(100% - 1px), transparent 100%);
  -webkit-mask-image: radial-gradient(circle closest-side at center, transparent calc(var(--inner-radius) - 1px), white var(--inner-radius),  white calc(100% - 1px), transparent 100%);
}

.container--mobile-ui .slider-track::after{
  content: " ";
  position: absolute;
  inset: calc(50% - 2px) -10px calc(50% - 2px) 50%;
  border: 1px solid black;
}

.container--mobile-ui .slider{
  pointer-events: auto;
}
